:root {
  --iris:  #4d5ae5; 
  --navyblue: #2e2f42;
  --black: black; 
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --cornflower:  #e7e9fc;
  --lightslate: #8e8f99;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --navybluemodal: #2e2f42;  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  color: var(--slate); 
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: unset;
  font-family: inherit; 
  outline: none;
  cursor: pointer;
}


/* Container Styles */
.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header Styles */
.header { 
  padding: 20px 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Logo Styles */
.nav-logo {
  margin-right: 76px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  font-family: "Raleway", sans-serif;
}

.logo-dark {
  color: var(--slate);
}

/* Main Nav Styles */
.nav-list {
  flex: 1;
  display: flex;
  gap: 40px;
}

.nav-list-item-link {  
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.32px;
}
.address-list-item .link:hover,
.nav-list-item-link:hover {
  color: var(--ocean);
}

/* Contact Info Styles */
.address-list{
  display: flex;
  gap: 40px;
}

.address-list-item-link {
  color: var(--slate);  
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.32px;
}

/* Hero Styles */
.hero{
  background-color: var(--navyblue);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  color: var(--white);
  text-align: center;
  line-height: 1.0714;
  margin-bottom: 48px;
}
.hero-cta{
  letter-spacing: 0.64px;
  color: var(--white);
  font-size: 16px;  
  padding: 19px 32px;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-cta:hover {
  background-color: var(--ocean);
}

/* Feature Styles */
.feature {
  padding: 120px 0;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-title {
  margin-bottom: 8px;
  color: var(--navyblue);
}


/* Services Styles */
.services {
  text-align: center;
  padding:0 0 120px;
}

.services-title {
  color: var(--navyblue);
  margin-top: 7px;
}

.services-list {
  display: flex;
  gap: 24px;
  margin: 70px 0 0;
}

.services-list-item {
  flex: 1;
}

/* Team Styles */
.team{
  background-color: var(--cloud);
  text-align: center;
  padding: 120px 0;
}

.team-title {
  color: var(--navyblue);
  margin: 0 0 70px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08);
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
  display: flex;
}

.member-details h3 {
  margin: 0 0 8px;
}

/* Footer Styles */
.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
  color: var(--white);
}

.widget {
  max-width: 264px;
}
.widget-logo {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  font-family: "Raleway", sans-serif;
}

.logo-white {
  color: var(--white);
}